/* @media (max-width: 1440px) {} */
/* @media (max-width: 1366px) {} */
/* @media (max-width: 1290px) {} */
/* @media (max-width: 1140px) {} */

@media (max-width: 1024px) {
    /* films start */

    .films__cards {
        row-gap: 40px;
    }

    .films__card {
        max-width: unset;
        width: 48%;
    }

    /* films end */

    /* collection start */

    .collection__cards {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        column-gap: 20px;
    }

    .collection__card {
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    /* collection end */
}

@media (max-width: 992px) {
    /* premier start */

    .premier__video {
        width: 100%;
    }

    .premier__content {
        background: rgba(255, 255, 255, 0.5);
    }

    .premier__content .container {
        text-align: center;
    }

    .premier__txt {
        display: none;
    }

    /* premier end */
}

@media (max-width: 768px) {
    /* header start */

    .header__nav {
        padding: 20px 0;
    }

    .header__nav-menu {
        width: 50px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__nav-line {
        position: relative;
        width: 100%;
        height: 2px;
        background: var(--text);
    }

    .header__nav-line::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 0;
        width: 60%;
        height: 100%;
        background: var(--text);
    }

    .header__nav-line::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 0;
        width: 80%;
        height: 100%;
        background: var(--text);
    }

    .header__list {
        display: none;
    }

    /* header end */

    /* banner start */

    .banner__content .container {
        text-align: center;
        padding: 20px 15px;
    }

    .banner__txt {
        margin: 0 auto 30px;
    }

    .banner__btns {
        justify-content: center;
    }

    /* banner end */

    /* films start */

    .films__cards {
        row-gap: 25px;
    }

    /* films end */

    /* series start */

    .series__content_md {
        grid-row: 1 span;
        grid-column: 4 span !important;
    }

    .series__item {
        grid-column: 2 span;
    }

    /* series end */
}

/* @media (max-width: 736px) {} */

/* @media (max-width: 734px) {} */

/* @media (max-width: 684px) {} */

/* @media (max-width: 667px) {} */

/* @media (max-width: 576px) {} */

@media (max-width: 414px) {
    /* header start */

    .header__logo {
        font-size: 12px;
    }

    .header__logo-img {
        width: 50%;
    }

    /* header end */
    /* films start */

    .films__card {
        width: 100%;
    }

    /* films end */

    /* premier start */

    .premier__content-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* premier end */

    /* series start */

    .series__desc-txt {
        -webkit-line-clamp: 3;
    }

    .series__item {
        grid-column: 4 span;
    }

    /* series end */

    /* footer start */

    .footer__container {
        flex-direction: column;
    }

    .footer__app {
        margin-bottom: 20px;
    }

    /* footer end */
}

/* @media (max-width: 412px) {} */

/* @media (max-width: 375px) {} */

/* @media (max-width: 320px) {} */
